[submodule "crates/faiss/faiss"]
	path = crates/faiss/faiss
	url = https://github.com/facebookresearch/faiss
[submodule "pgwire"]
	path = pgwire
	url = git@github.com:poudels14/pgwire.git
[submodule "js/portal"]
	path = js/portal
	url = git@github.com:poudels14/portal
