[submodule "crates/faiss/faiss"]
	path = crates/faiss/faiss
	url = https://github.com/facebookresearch/faiss
[submodule "pgwire"]
	path = pgwire
	url = git@github.com:poudels14/pgwire.git
[submodule "js/portal"]
	path = js/portal
	url = git@github.com:poudels14/portal
[submodule "js/portal-app"]
	path = js/portal-app
	url = git@github.com:poudels14/portal-app
[submodule "js/solid-router"]
	path = js/solid-router
	url = https://github.com/poudels14/solid-router
[submodule "js/solid-start"]
	path = js/solid-start
	url = git@github.com:poudels14/solid-start.git
[submodule "datafusion"]
	path = datafusion
	url = git@github.com:poudels14/datafusion.git
