{
	admin :10000 {
	}
	http_port 8000
}

localhost:8000 {
	header Cache-Control max-age=0
	encode zstd gzip

	log {
		level DEBUG
	}

	route /static/* {
		reverse_proxy localhost:9000 localhost:9001 {
			lb_retries 5
		}
	}

	route /server/* {
		reverse_proxy localhost:9000 {
			lb_retries 5
		}
	}

	route /* {
		reverse_proxy 127.0.0.1:9001
	}

	route /w/* {
		reverse_proxy localhost:9002
	}
}
